![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [10]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [11]:
# your code goes here
pd.Series()

Series([], dtype: object)

In [ ]:
pd.Series()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [13]:
# your code goes here
X = ['Nguyen Van A', 'Tran Van B', 'Cao Dang C']
print(X, type(X))
Y = pd.Series(X) #Add các giá trị của list python X vào Series Y
print(Y, type(Y))

['Nguyen Van A', 'Tran Van B', 'Cao Dang C'] <class 'list'>
0    Nguyen Van A
1      Tran Van B
2      Cao Dang C
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [16]:
# your code goes here
X = pd.Series(['Nguyen Van A', 'Tran Van B', 'Cao Thi C']) #Biến X này thực ra là một object
X.name = 'My letters'
print(X)

0    Nguyen Van A
1      Tran Van B
2       Cao Thi C
Name: My letters, dtype: object

In [15]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [19]:
# your code goes here
X = pd.Series(["Nguyen Van Mot", "Tran Van Hai", ' Cao Dang Cao'])
print(X.values)
print(X)

['Nguyen Van Mot' 'Tran Van Hai' ' Cao Dang Cao']
0    Nguyen Van Mot
1      Tran Van Hai
2      Cao Dang Cao
dtype: object

In [ ]:
X = pd.Series(['A','B','C'])

X.values

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [20]:
# your code goes here
X = pd.Series(['first person', 'second person', 'third person'])
index_names = ['001', '002', '003']
X.index = index_names
print(X)

001     first person
002    second person
003     third person
dtype: object

In [ ]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [21]:
# your code goes here
X = pd.Series(['Nguyen Van Anh', 'Tran Thi Bao', 'Cao Van Dai'])
X[0]

'Nguyen Van Anh'

In [22]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [25]:
# your code goes here
X = pd.Series(['Mau do','mau cam', 'mau vang'], index = ['first','second','third'])
print(X['third'])
print(X.iloc[-1]) #Use iloc function can avoid the warning

mau vang
mau vang

In [ ]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [28]:
# your code goes here
X = pd.Series([102030,1202,'1',2],index = ['First','Second','Third','Fourth'])
print(X)
print(X.iloc[1:-1])

First     102030
Second      1202
Third          1
Fourth         2
dtype: object
Second    1202
Third        1
dtype: object

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [29]:
# your code goes here
X = pd.Series(['A','B','C','D'], index = ['first','second','third','forth'])
print(X)
print(X[::-1])

first     A
second    B
third     C
forth     D
dtype: object
forth     D
third     C
second    B
first     A
dtype: object

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [31]:
# your code goes here
X = pd.Series([1,2,3,4,5], index = ['A','B','C','D','E'], name = 'Bang chu cai')
print(X)
print(X.iloc[[0,-1]])

A    1
B    2
C    3
D    4
E    5
Name: Bang chu cai, dtype: int64
A    1
E    5
Name: Bang chu cai, dtype: int64

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5])

X + 5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [35]:
# your code goes here
X = pd.Series([32,22,100,354], index = ['First','Second','Third','Fourth'], name = 'Caffe value')
print(X)
mask = X <0
print(X[mask])
print(mask)

First      32
Second     22
Third     100
Fourth    354
Name: Caffe value, dtype: int64
Series([], Name: Caffe value, dtype: int64)
First     False
Second    False
Third     False
Fourth    False
Name: Caffe value, dtype: bool

In [34]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [36]:
# your code goes here
X = pd.Series([-2,3,-5,20],index = ['First','Second','Third','Fourth'], name = 'TEXT')
print(X)
mask = X < 0
print(X[mask])

First     -2
Second     3
Third     -5
Fourth    20
Name: TEXT, dtype: int64
First   -2
Third   -5
Name: TEXT, dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [37]:
# your code goes here
X = pd.Series([10,20,6,30], index = ['First','Second','Third','Fourth'], name = 'Number')
print(X)
mask = X > 5
print(X[mask])

First     10
Second    20
Third      6
Fourth    30
Name: Number, dtype: int64
First     10
Second    20
Third      6
Fourth    30
Name: Number, dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [38]:
# your code goes here
X = pd.Series([1,2,3,4,5,6], index = ['One','Two','Three','Four','Five','Six'], name = 'Number ABC')
print(X, "\n")
mask = X > X.mean()
print(X.mean())
print(X[mask])

One      1
Two      2
Three    3
Four     4
Five     5
Six      6
Name: Number ABC, dtype: int64

3.5
Four    4
Five    5
Six     6
Name: Number ABC, dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [39]:
# your code goes here
X = pd.Series([2,10,6,9,10,3,2], index = ['One','Two','Three','Four', 'Five','Six','Seven'], name = 'Number ABC')
mask = (X == 2) | (X == 10)
print(X[mask])

One       2
Two      10
Five     10
Seven     2
Name: Number ABC, dtype: int64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [40]:
# your code goes here
X = pd.Series([1,2,3,0])
X.all(0)

np.False_

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [41]:
# your code goes here
X = pd.Series([1,2,3,0])
X.any(0)

TypeError: Series.any() takes 1 positional argument but 2 were given

In [42]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

np.True_

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [43]:
# your code goes here
X = pd.Series([1,2,3,4,5,6])
print(X.sum())

21

In [ ]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [45]:
# your code goes here
X = pd.Series([1,2,3,4,5])
print(X.mean())

3.0

In [ ]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)